
/*le altezze delle sezioni sono provvisorie*/
header {
  height: 80px;
  background-color: #2B3E50;
}

.ac_container-80 {
  width: 80%;
  margin: 0 auto;
}

header .ac_logo, header .ac_menu-lg {
  height: 80px;
  width: 50%;
}

.ac_logo, .ac_menu-lg, .ac_hamburger-menu {
  color: white;
}

.ac_menu-lg ul li a{
  color: white;
  padding-left: 10px;
}

.ac_hamburger-menu i {
  color: grey;
  font-size: 24px;
  border: 1px solid grey;
  padding: 5px 10px;
  border-radius: 5px;
}

.ac_hamburger-menu:hover i {
  color: white;
  cursor: pointer;
  border-color: white;
}

.ac_jumbotron {
  background-color: #40BC9C;
  margin-top: 80px;
}

.ac_jumbo-img {
  padding-top: 20px;
  height: 150px;
  width: 150px;
}

.ac_jumbo-img img {
  width: 100%;
}

.ac_jumbo-title {
  color: white;
  padding-top: 25px;
}

.ac_jobs {
  font-size: 14px;
}





.ac_portfolio {
  background-color: #fff;
}

.ac_portfolio > h2 {
  padding-top: 40px;
}

 .ac_box {
  margin: 10px;
}

.ac_box img {
  width: calc(100% - 10px);
  border-radius: 10px;

}


.ac_about {
  background-color: #40BC9C;
  color: white;
}

.ac_about h2 {
  padding-top: 50px;

}

.ac_about p {
  padding-bottom: 50px;
}

.ac_button {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
  cursor: pointer;
}

.ac_contacts h2 {
  padding-top: 50px;
}

form {
  margin-bottom: 20px;
}

.ac_custom-border {
  border: none;
  border-bottom: 1px solid lightgrey;
  border-radius: 0;
}

::placeholder {
  color: #0C344D !important;
}

form input, form textarea {
  padding-left: 0 !important;
}

.ac_bg-green {
  background-color: #1ABC9C;
  border-color: #1ABC9C;
}



footer{
  color: white;
  background-color: #3A546D;
}

.ac_footer-bottom {
  width: 100%;
  height: 80px;
  color: white;
  background-color: #2B3E50;
}



