
/*le altezze delle sezioni sono provvisorie*/
header {
  height: 100px;
  background-color: #2B3E50;
}


header ._logo, header ._menu {
  height: 50px;
  width: 50%;
}

.ac_jumbotron {
  background-color: #40BC9C;
  height: 300px;
}

.ac_portfolio {
  background-color: #fff;
}

.ac_box {
  height: 300px;
  border-radius: 10px;
  margin: 10px;
  color: white;
}

.ac_red {
  background-color: #B94B63;
}

.ac_teal {
  background-color: #36A4B6;
}

.ac_black {
  background-color: #140F0F;
}

.ac_cyan {
  background-color: #2883C1;
}

.ac_blue {
  background-color: #0D38B5;
}

.ac_beige {
  background-color: #CBB2A3;
}

.ac_about {
  background-color: #40BC9C;
  color: white;
  height: 500px;
}

.ac_contacts .ac_name, .ac_contacts .ac_email, .ac_contacts .ac_phone {
  padding: 20px 0;
}

.ac_contacts .ac_message-box {
  padding: 30px 0 120px;
}

footer {
  height: 300px;
  color: white;
  background-color: #3A546D;
}

.ac_footer-bottom {
  width: 100%;
  height: 100px;
  color: white;
  background-color: #2B3E50;
}